/build/
/*.bin
/*.elf
/*.map
/*.json
*.args
*.in

/cache/
/bootloader-*/
/partition-table-flash_args
/project_description.json
/ldgen_libraries*
/kconfigs*

sdkconfig
sdkconfig.old
config.env
config/

.gdbinit/

compile_commands.json

esp-idf/

dependencies.lock
managed_components/

app-flash_args
flash_args
flash_app_args
flash_bootloader_args
flasher_args.json

gdbinit/
*.cmake
.cache/
CMakeCache.txt
CMakeFiles/

